.card-container {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.button-spacer {
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.agregar-spacer {
    margin-left: 75%;
}

.propiedades-spacer{
    margin-bottom: 5px;
}