<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>local_library</mat-icon>
        </button>
        <h1 class="example-app-name">UAB EVENTOS</h1>

        <span class="example-spacer"></span>
        
        <button 
            *ngIf="isLoggedIn && user"
            mat-button
        >
            {{ user.username }}
        </button>

        <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu>
            <button mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span>Perfil</span>
            </button>
            <button
                *ngIf="isLoggedIn"
                (click) = "logOut()"
                mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav [mode]="'over'" class="example-sidenav-content">            

            <mat-action-list>

                <div mat-subheader>Menú</div>

                <mat-divider></mat-divider>

                <button mat-list-item>
                    <mat-icon matListItemIcon>home</mat-icon> Inicio
                </button>

                <button mat-list-item>
                    <mat-icon matListItemIcon>account_circle</mat-icon> Perfil
                </button>

                <button mat-list-item routerLink="/admin/lista_usuarios">
                    <mat-icon matListItemIcon>group</mat-icon> Usuarios
                </button>

                <button mat-list-item routerLink="/admin/lista_eventos">
                    <mat-icon matListItemIcon>calendar_month</mat-icon> Eventos generales
                </button>

                <button mat-list-item>
                    <mat-icon matListItemIcon>event_available</mat-icon> Eventos asignados
                </button>

                <button mat-list-item>
                    <mat-icon matListItemIcon>event_busy</mat-icon> Eventos culminados
                </button>

                <button mat-list-item>
                    <mat-icon matListItemIcon>description</mat-icon> Reportes
                </button>

                <mat-divider></mat-divider>

                <button mat-list-item>
                    <mat-icon matListItemIcon>logout</mat-icon> Cerrar sesión
                </button>
                
            </mat-action-list>

        </mat-sidenav>

        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>