<div style="padding: 30px;">
    
    <button disabled mat-button style="padding-left: 50px;">
        <mat-icon>calendar_month</mat-icon> Eventos generales
    </button>

    <div class="card-container" *ngFor="let evento of listEventosGenerales">
        <mat-card>
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title style="margin-bottom: 15px;">#{{ evento.id }} {{ evento.titulo }} </mat-card-title>
                    <mat-card-subtitle class="propiedades-spacer"><strong>Lugar:</strong> {{ evento.lugar }}</mat-card-subtitle>
                    <mat-card-subtitle class="propiedades-spacer"><strong>Fecha:</strong> {{ evento.fecha }}</mat-card-subtitle>
                    <mat-card-subtitle class="propiedades-spacer"><strong>Hora de inicio:</strong> {{ evento.horaInicio }}</mat-card-subtitle>
                    <mat-card-subtitle class="propiedades-spacer"><strong>Hora de salida:</strong> {{ evento.horaFinal }}</mat-card-subtitle>
                    <mat-card-subtitle class="propiedades-spacer"><strong>Requerimientos:</strong> {{ evento.requerimientos }}</mat-card-subtitle>                    
                    <img mat-card-lg-image src="../../../assets/calendario.png">
                </mat-card-title-group>
            </mat-card-header>
            <mat-divider></mat-divider>

            <mat-card-actions align="end">
                <button [disabled]="botonSolicitar" mat-flat-button color="accent" class="button-spacer" (click)="registrarSolicitudDialog(evento.id)">
                    <mat-icon>touch_app</mat-icon> Solicitar
                </button>
                <button [disabled]="!botonSolicitar" mat-flat-button color="warn" class="button-spacer" (click)="eliminarSolicitudDialog(evento.id)">
                    <mat-icon>cancel</mat-icon> Eliminar
                </button>
            </mat-card-actions>

            <mat-card-footer>
                <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>